component-2-anomaly-detection/anomaly-detection.json
{
  "name": "Anomaly Detection",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1920,
        352
      ],
      "id": "93774db6-967d-4e67-81f3-2262bb546d55",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appA3QrSBzsMn8Mdp",
          "mode": "list",
          "cachedResultName": "Financial Fraud Detection",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp"
        },
        "table": {
          "__rl": true,
          "value": "tbltjvfUBbabGJZRN",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp/tbltjvfUBbabGJZRN"
        },
        "filterByFormula": "status = \"pending\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -1696,
        352
      ],
      "id": "b3243d95-80b9-4253-94a3-4e3fa38ba0ad",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "tKHYBbNRekBW1gG8",
          "name": "AIRTABLE API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this financial transaction to determine if it is potentially fraudulent.\n\nTRANSACTION:\n- Transaction ID: {{ $json.fields.transaction_id }}\n- Sender: {{ $json.fields.sender_id }}\n- Recipient: {{ $json.fields.recipient_id }}\n- Amount: ${{ $json.fields.amount }}\n- Type: {{ $json.fields.transaction_type }}\n- Description: {{ $json.fields.description }}\n\nTASKS:\n1. Determine if the transaction could be fraudulent.\n2. Assign anomaly_score from 0.0 to 1.0\n3. Assign risk_level:\n   LOW, MEDIUM, HIGH, or CRITICAL\n4. Write anomaly_reason\n5. Set status:\n   - \"case_created\" if anomaly_score > 0.80\n   - otherwise \"analyzed\"\n\nRULES:\n- Be conservative with LOW-risk transactions\n- Do not exaggerate normal activity\n- Large transfers alone are not always fraud\n- HIGH and CRITICAL should indicate meaningful suspicious activity\n\nReturn ONLY structured JSON.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1248,
        32
      ],
      "id": "45f45639-0f33-41e0-90f6-a4f729ac8e42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1264,
        256
      ],
      "id": "0b1f516b-d0d7-4250-9d01-d1986b95e0a8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "OdaRf3znw07eaH2N",
          "name": "Groq account 5"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"anomaly_score\": 0.83,\n  \"risk_level\": \"HIGH\",\n  \"anomaly_reason\": \"Large transfer with suspicious characteristics\",\n  \"status\": \"case_created\",\n  \"confidence_score\": 0.91\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1072,
        256
      ],
      "id": "28011594-c90d-4ccb-9358-61de2e528351",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appA3QrSBzsMn8Mdp",
          "mode": "list",
          "cachedResultName": "Financial Fraud Detection",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp"
        },
        "table": {
          "__rl": true,
          "value": "tbltjvfUBbabGJZRN",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp/tbltjvfUBbabGJZRN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "status": "error",
            "error_reason": "== \"AI response parsing failed\"",
            "anomaly_reason": "== \"AI analysis failed\"",
            "risk_level": "LOW",
            "confidence_score": 0,
            "anomaly_score": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "recipient_id",
              "displayName": "recipient_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transaction_type",
              "displayName": "transaction_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "case_created",
                  "value": "case_created"
                },
                {
                  "name": "error",
                  "value": "error"
                },
                {
                  "name": "analyzed",
                  "value": "analyzed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_reason",
              "displayName": "error_reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "anomaly_score",
              "displayName": "anomaly_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "risk_level",
              "displayName": "risk_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "LOW",
                  "value": "LOW"
                },
                {
                  "name": "MEDIUM",
                  "value": "MEDIUM"
                },
                {
                  "name": "HIGH",
                  "value": "HIGH"
                },
                {
                  "name": "CRITICAL",
                  "value": "CRITICAL"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "anomaly_reason",
              "displayName": "anomaly_reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processing_error",
              "displayName": "processing_error",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -672,
        400
      ],
      "id": "a73bd7c0-dea5-434c-a036-ad8f0080a769",
      "name": "Error: Update records",
      "credentials": {
        "airtableTokenApi": {
          "id": "tKHYBbNRekBW1gG8",
          "name": "AIRTABLE API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appA3QrSBzsMn8Mdp",
          "mode": "list",
          "cachedResultName": "Financial Fraud Detection",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp"
        },
        "table": {
          "__rl": true,
          "value": "tbltjvfUBbabGJZRN",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp/tbltjvfUBbabGJZRN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "confidence_score": "={{ $json.output.confidence_score }}",
            "anomaly_score": "={{ $json.output.anomaly_score }}",
            "risk_level": "={{ $json.output.risk_level }}",
            "status": "={{ $json.output.status }}",
            "anomaly_reason": "={{ $json.output.anomaly_reason }}",
            "id": "={{ $('Search records').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "recipient_id",
              "displayName": "recipient_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "transaction_type",
              "displayName": "transaction_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "case_created",
                  "value": "case_created"
                },
                {
                  "name": "error",
                  "value": "error"
                },
                {
                  "name": "analyzed",
                  "value": "analyzed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_reason",
              "displayName": "error_reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "anomaly_score",
              "displayName": "anomaly_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "risk_level",
              "displayName": "risk_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "LOW",
                  "value": "LOW"
                },
                {
                  "name": "MEDIUM",
                  "value": "MEDIUM"
                },
                {
                  "name": "HIGH",
                  "value": "HIGH"
                },
                {
                  "name": "CRITICAL",
                  "value": "CRITICAL"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "anomaly_reason",
              "displayName": "anomaly_reason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -672,
        208
      ],
      "id": "9eef3623-a75b-4f80-901b-cf9461104d47",
      "name": "Non-errors: Update records",
      "credentials": {
        "airtableTokenApi": {
          "id": "tKHYBbNRekBW1gG8",
          "name": "AIRTABLE API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e97960b3-f92c-4eb6-bb26-7866b2178d07",
              "leftValue": "anomaly_score",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        80
      ],
      "id": "4d34dfa1-4d00-42ba-9f77-3fcdad4570fa",
      "name": "Error handling (if)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1472,
        352
      ],
      "id": "19c207a7-cfa5-4c70-9d4b-9e1179eb9c0f",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Error handling (if)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error handling (if)": {
      "main": [
        [
          {
            "node": "Non-errors: Update records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error: Update records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error: Update records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Non-errors: Update records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "05b1a608-7d20-4e9f-8748-5a4ba2539f33",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "vvXz9yF2ZajWCkDr",
  "tags": []
}
