component-3-case-management/Case Management - Transaction Analysis & Escalation (Implemented).json
{
  "name": "Case Management - Transaction Analysis & Escalation (Implemented)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        0
      ],
      "id": "9dafae45-8793-44bc-88ec-424a66a8c0d0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this financial transaction and generate a structured fraud case record.\n\nTRANSACTION TO ANALYZE:\n- Sender: {{ $json.fields.sender_id }}\n- Recipient: {{ $json.fields.recipient_id }}\n- Amount: ${{ $json.fields.amount }}\n- Type: {{ $json.fields.transaction_type }}\n- Description: {{ $json.fields.description }}\n- Anomaly Score: {{ $json.fields.anomaly_score }}\n- Risk Level: {{ $json.fields.risk_level }}\n- Reason: {{ $json.fields.anomaly_reason }}\n\nRULES:\n- LOW risk transactions with low anomaly scores should be described as likely legitimate activity.\n- HIGH and CRITICAL transactions should be treated as suspicious and prioritized for investigation.\n- Do not exaggerate the severity of LOW risk transactions.\n- Only recommend escalation when the anomaly score is above 0.80 or the risk level is HIGH or CRITICAL.\n- Keep explanations proportional to the actual fraud risk.\n\nYOUR TASKS:\n1. Assign a Priority Tier: LOW, MEDIUM, HIGH, or CRITICAL.\n2. Set Escalation Flag: True if anomaly score > 0.80, otherwise False.\n3. Set case_status to \"NEW\".\n4. Write a detailed alert_description explaining:\n   - why the transaction was flagged,\n   - the specific fraud indicators,\n   - whether the activity appears suspicious or likely legitimate,\n   - and whether investigator attention is necessary.\n5. 5. Set risk_level to the transaction's risk level: LOW, MEDIUM, HIGH, or CRITICAL\n\nOUTPUT FORMAT:\nReturn a structured data object with these keys:\n- priority_tier\n- risk_level\n- escalation_flag\n- case_status\n- alert_description\n- confidence_score\n- audit_trail",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        0
      ],
      "id": "ca952b93-8071-4eb8-b16e-446fdfcf9df7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        176,
        176
      ],
      "id": "074ce8b1-fb52-49c0-b393-f05f13277fc3",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "yIvk1gXi03YwNGTO",
          "name": "Groq Chat Model"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"priority_tier\": \"High\",\n  \"risk_level\": \"HIGH\",\n  \"escalation_flag\": true,\n  \"case_status\": \"NEW\",\n  \"alert_description\": \"Transaction flagged due to unusual wire amount of $5000.\",\n  \"confidence_score\": 0.92,\n  \"audit_trail\": \"2026-05-09: AI assigned High priority based on 0.92 anomaly score.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        320,
        176
      ],
      "id": "58004387-0d6d-4a13-b25b-c63a6cfdaa54",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appA3QrSBzsMn8Mdp",
          "mode": "list",
          "cachedResultName": "Financial Fraud Detection",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp"
        },
        "table": {
          "__rl": true,
          "value": "tblyXehoOh0yXpkPD",
          "mode": "list",
          "cachedResultName": "Fraud Investigation Case Records",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp/tblyXehoOh0yXpkPD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "escalation_flag": "={{ $json.output.escalation_flag }}",
            "confidence_score": "={{ $json.output.confidence_score }}",
            "priority_tier": "={{ $json.output.priority_tier }}",
            "risk_level": "={{ $json.output.risk_level }}",
            "audit_trail": "={{ $json.output.audit_trail }}",
            "created_at": "={{ $('Search Transaction Records').item.json.createdTime }}",
            "updated_at": "={{ new Date().toISOString() }}",
            "alert_description": "={{ $json.output.alert_description }}",
            "sender_id": "={{ $('Search Transaction Records').item.json.fields.sender_id }}",
            "transaction_id": "={{ $('Search Transaction Records').item.json.fields.transaction_id }}",
            "case_id": "={{ \"CASE-\" + new Date().toISOString().slice(0,10).replace(/-/g,\"\") + \"-\" + Math.floor(Math.random()*1000) }}",
            "investigation_status": "NEW",
            "recipient_id": "={{ $('Search Transaction Records').item.json.fields.recipient_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "case_id",
              "displayName": "case_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "recipient_id",
              "displayName": "recipient_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "alert_description",
              "displayName": "alert_description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "risk_level",
              "displayName": "risk_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "LOW",
                  "value": "LOW"
                },
                {
                  "name": "MEDIUM",
                  "value": "MEDIUM"
                },
                {
                  "name": "HIGH",
                  "value": "HIGH"
                },
                {
                  "name": "CRITICAL",
                  "value": "CRITICAL"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priority_tier",
              "displayName": "priority_tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "LOW",
                  "value": "LOW"
                },
                {
                  "name": "MEDIUM",
                  "value": "MEDIUM"
                },
                {
                  "name": "HIGH",
                  "value": "HIGH"
                },
                {
                  "name": "CRITICAL",
                  "value": "CRITICAL"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "escalation_flag",
              "displayName": "escalation_flag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "investigation_status",
              "displayName": "investigation_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "NEW",
                  "value": "NEW"
                },
                {
                  "name": "IN PROGRESS",
                  "value": "IN PROGRESS"
                },
                {
                  "name": "RESOLVED",
                  "value": "RESOLVED"
                },
                {
                  "name": "DISMISSED",
                  "value": "DISMISSED"
                },
                {
                  "name": "ERROR",
                  "value": "ERROR"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "audit_trail",
              "displayName": "audit_trail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        752,
        -112
      ],
      "id": "cf0c8b6e-61ff-4057-b95a-6d4f4babeecc",
      "name": "Create Case Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "fKgN2hbZr0TlFYt3",
          "name": "Airtable Personal Access Token account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appA3QrSBzsMn8Mdp",
          "mode": "list",
          "cachedResultName": "Financial Fraud Detection",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp"
        },
        "table": {
          "__rl": true,
          "value": "tblyXehoOh0yXpkPD",
          "mode": "list",
          "cachedResultName": "Fraud Investigation Case Records",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp/tblyXehoOh0yXpkPD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "escalation_flag": false,
            "investigation_status": "ERROR",
            "transaction_id": "={{ $('Search Transaction Records').item.json.fields.transaction_id }}",
            "confidence_score": 0,
            "sender_id": "={{ $('Search Transaction Records').item.json.fields.sender_id }}",
            "alert_description": "AI generation failed",
            "audit_trail": "Workflow failed during AI analysis",
            "created_at": "={{ $now }}",
            "updated_at": "={{ $now }}",
            "recipient_id  ": "={{ $('Search Transaction Records').item.json.fields.recipient_id }}",
            "case_id": "={{ 'ERROR-' + $now.format(\"yyyyMMdd\") + '-' + Math.floor(Math.random() * 1000) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "case_id",
              "displayName": "case_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "transaction_id",
              "displayName": "transaction_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "recipient_id  ",
              "displayName": "recipient_id  ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "alert_description",
              "displayName": "alert_description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "risk_level",
              "displayName": "risk_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "LOW",
                  "value": "LOW"
                },
                {
                  "name": "MEDIUM",
                  "value": "MEDIUM"
                },
                {
                  "name": "HIGH",
                  "value": "HIGH"
                },
                {
                  "name": "CRITICAL",
                  "value": "CRITICAL"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "priority_tier",
              "displayName": "priority_tier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "LOW",
                  "value": "LOW"
                },
                {
                  "name": "MEDIUM",
                  "value": "MEDIUM"
                },
                {
                  "name": "HIGH",
                  "value": "HIGH"
                },
                {
                  "name": "CRITICAL",
                  "value": "CRITICAL"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "escalation_flag",
              "displayName": "escalation_flag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "investigation_status",
              "displayName": "investigation_status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "NEW",
                  "value": "NEW"
                },
                {
                  "name": "IN PROGRESS",
                  "value": "IN PROGRESS"
                },
                {
                  "name": "RESOLVED",
                  "value": "RESOLVED"
                },
                {
                  "name": "DISMISSED",
                  "value": "DISMISSED"
                },
                {
                  "name": "ERROR",
                  "value": "ERROR"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "audit_trail",
              "displayName": "audit_trail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        752,
        112
      ],
      "id": "99b2a0e9-f848-4339-baf9-ed0aab0c3a83",
      "name": "Create Error Record",
      "credentials": {
        "airtableTokenApi": {
          "id": "fKgN2hbZr0TlFYt3",
          "name": "Airtable Personal Access Token account 6"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d91ec72b-dee7-4db5-bc27-3a7a81de8770",
              "leftValue": "={{ $json.output.alert_description }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        0
      ],
      "id": "477d4f8b-323b-4193-bd68-8e1a2c62d1b2",
      "name": "Error Handling"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appA3QrSBzsMn8Mdp",
          "mode": "list",
          "cachedResultName": "Financial Fraud Detection",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp"
        },
        "table": {
          "__rl": true,
          "value": "tbltjvfUBbabGJZRN",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://airtable.com/appA3QrSBzsMn8Mdp/tbltjvfUBbabGJZRN"
        },
        "filterByFormula": "status = \"case_created\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -64,
        0
      ],
      "id": "d55253ce-dc2d-4600-8e8e-1e848adb730f",
      "name": "Search Transaction Records",
      "credentials": {
        "airtableTokenApi": {
          "id": "fKgN2hbZr0TlFYt3",
          "name": "Airtable Personal Access Token account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search Transaction Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Error Handling": {
      "main": [
        [
          {
            "node": "Create Case Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Error Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Transaction Records": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e3d5074e-6906-4e58-b2c3-e755899f5ebe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "ZrEzBCdDoVJ7ewkY",
  "tags": []
}